*{
   background-color: #F3F5FC;
    font-family: "Inter";
    font-weight: 80%;
    font-size: 20px;
    line-height: 200%;
    margin: 0;
    padding: 0;
    

}
body{
    
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}
header{
    width: 940px; 
    height: 80%;
    padding: 2px;
}
header img{
    margin-left: 20%;
    padding: 10px;
    margin: auto;
    
}
.logo{
    padding-top: 5px;
    margin-left: 3%;
    width: 10%;
    display: block;
    animation: movimiento 3s infinite  ;

}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(30px);

    }
    100%{
        transform: translateY(0);
    }

}
main{
    width: 100%;
    height: 700px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 10%;
}

.text-area{
    height: 40%;
    width: 90%;
    border: none;
    color: #0A3871;
    margin-top: 40%;
    font-weight: bold;
    margin-block: 10%;
    text-transform: lowercase;
    box-shadow: 0px 0px 5px 1px aquamarine;
    transition: 2.5s;


}
.text-area:hover{
    background-color: mediumaquamarine;
    transform: scale(1) rotate(8deg);
}

::placeholder{color:#0A3871;}
 .text-area:focus{
    outline: none;
}


.diamante2{
    background: white;
    background-image: url("Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 10%;
    color: #0A3871;
    margin-left: 30%;
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 5%;
    box-sizing: border-box;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px aquamarine;
    transition: 2.5s;
    color: #495057;
    font-size: 18px;
    
}
.diamante2:hover{
    background-color: mediumaquamarine;
    transform: scale(1) rotate(8deg);
    
}
.diamante2:focus{
    outline: none;
    text-align: center;
    margin-block: 20px;
}

.btn-encriptar{
    background-color: #0A3871;
    background: 3px solid #0A3871;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-block: 28%;
    text-align: center;
    transition: 1.5s all;

}
.btn-encriptar:hover{
    border-color: aqua;
    color: cyan;
    transform: scale(1.5);
}
.btn-desencriptar{
    background: #D8DFE8;
    border: 3px solid #0A3871;
    border-radius: 8px;
    margin-block: 28px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    text-align: center;
    transition: 1.5s all;
}
.btn-desencriptar:hover{
    border-color: aqua;
    color: cyan;
    transform: scale(1.2);
}

.btn-copiar{
    border: 2px solid #0A3871;
    background-color: #0A3871;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    height: 8%;
    width: 20px;
    margin-left: 38%;
    margin-block: 25%;
    position: absolute;
    width: 10%;
    text-align: center;
    transition: 1.5s all;
    
}
.btn-copiar:hover{
    color: cyan;
    border-color: cyan;
    transform: scale(1.2);
    

}




.movimiento_1{
    width: 265%;
    height: 120px;
    background-image: url(earth-3537401_1920.jpg);
    background-size: 20%;
    animation:movie 30s infinite linear alternate;
    padding-top: 35%;
    padding: 7%;
    margin: auto;

}
@keyframes movie{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.footer-contenido{
    height: 100%;
    width: 400%;
    padding: 2%;
    text-align: left;
    
    background-color: cadetblue;

}
.redes{
    width:1%;
    height: 1%;
    margin-left: 5%;
    transition: 2s all;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
}
.redes:hover{
    transform: scale(2.2);
}

@media screen and(max-width:480px){
    main{
        width: auto;
    
    }
    
}









